

.grid-container{ display: grid; height: 100vh;
   grid-template-columns: auto auto auto ;
    grid-template-areas: 
    ' header header header' 
    ' sidebar main main' 
    ' footer footer footer'  
     ;}


    .header{ 
        grid-area: header;
        background-color:rgb(215, 193, 244);
        padding: 30px; text-align: center;
        font-size: 25px;
        font-family: roboto;

        }
        .sidebar{
        grid-area: sidebar;
        background-color: rgb(242, 245, 243);
        padding: 5px;
        }
        .main{
        grid-area: main;
        background-color: rgb(215, 193, 244);
        }
        .footer{
        grid-area: footer;
        background-color: rgb(195, 195, 246);
        }


          .producto img {
            width: 300px; 
            height: 300px; 
            border-radius: 8%; 
            padding: 10px;
           
          
          }
        
          .producto p {
            margin: 15px 0; 
            text-align: center;
            font-family: roboto;
            font-size: 15px;
          }

          
          .menu {
            display: flex; 
            flex-direction: column; /* para que el listado esté en vertical */
            gap: 10px; 
          }
          .menu-item { 
            font-family: roboto;
            font-size: 15px;}

          .sidebar {
            background-color: #b7d9f5;
            color: #ffffff;
            flex: 0 0 200px; /* Tamaño fijo de la barra lateral */
         
        }

            .footer {
                background-color: #ddbdeb;
                color: #000000;
                padding: 20px;
                text-align: center;
              }

              button {
                background-color: #EB85BB; 
                border: none; 
                border-radius: 5px;
                color: rgb(255, 255, 255); 
                padding: 10px 20px; 
                text-align: center; 
                text-decoration: none; 
                display: inline-block; 
                font-size: 16px; 
                margin: 4px 2px; 
                cursor: pointer; 
                width: 80%;
            
                
              }
              button:hover {
                background-color: #9245a0; 
              }

              .menu-item:hover {background-color: #0265fa;}
.menu-item {font-family: 'roboto', cursive;
color: rgb(0, 0, 0);}
h3 {color: rgb(0, 0, 0);}

.grid-productos {display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px}

  .grid-productos {display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px}

    .producto {
      border: 1px solid rgb(0, 0, 0);
      background-color: #f7f7f6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
      border-radius: 5px;
      }

  